{
  "extends": ["airbnb", "prettier", "plugin:jest/recommended"],
  "plugins": ["prettier" ,"jest"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "env": {
    "jest/globals": true
  }
}
