.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-end {
  align-items: flex-end;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.border-radius-1 {
  border-radius: 3%;
}

.button-info {
  background-color: #60E6EA;
  border-radius: 30px;
  border: 1px solid #60E6EA;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: black;
  height: 3em;
}

.container {
  position: relative;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.ellipsis {
  text-overflow: ellipsis;
}

.flex-item-grow {
  flex-grow: 1;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}

.float-right {
  float: right;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.font-size-80 {
  font-size: 0.8em;
}

.font-size-70 {
  font-size: 0.7em;
}

.font-size-60 {
  font-size: 0.6em;
}

.icon {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.justify-items-center {
  justify-content: center;
}

.justify-items-start {
  justify-content: flex-start;
}

.justify-items-end {
  justify-content: flex-end;
}

.justify-items-space-between {
  justify-content: space-between;
}

.margin-left-05 {
  margin-left: 0.5em;
}

.margin-right-05 {
  margin-right: 0.5em;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-right-1 {
  margin-right: 1em;
}

.margin-top-025 {
  margin-top: 0.25em;
}

.margin-top-5 {
  margin-top: 0.5em;
}

.margin-top-1em {
  margin-top: 1em;
}

.margin-top-2em {
  margin-top: 2em;
}

.margin-right-2 {
  margin-right: 2em;
}

.overline {
  text-decoration: overline;
}

.swipe-down {
  font-size: 2em;
  color: gray;
  opacity: 0.2;
  border-radius: 10px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}


/*
  Custom Radio Button
 */

.radio-label {
  cursor: pointer;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
